DISPLAY 

1. /* Hide the <h1> element. It should still take up the same space as before.
<body>

<h1 class="hideh1">This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
</body> 
*/

.hideh1{
	visibility: hidden;
}

2. /* Hide the <h1> element. It should not take up any space.

<h1 class="display-none">This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p> 
*/

.display-none{
	display: none;
}

3. /* Display the list items as inline elements.

<body>
<h1>This is a Heading</h1>
<ul>
<li>Apple</li>
<li>Orange</li>
<li>Pear</li>
</ul>
</body>
*/

li{
	display: inline ;
}

4. /*Display the <strong> elements as block elements.

<body>
<h1>This is a Heading</h1>
<p>This is a <strong>paragraph</strong>, 
with some words more <strong>important</strong> 
than others </p>
<p>This is another paragraph.</p>
</body>
*/

strong{
	display: block ;
}

5. /* Add css styling to the html content to look same as the image below
Home / Courses / ICD007 / CSS2 

<html>
<head>
<style>
</style>
</head>
<body>
<h2>Breadcrumb</h2>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Courses</a></li>
  <li><a href="#">ICD0007</a></li>
  <li>CSS 2</li>
</ul>
</body>
</html>
*/

.breadcrumb {
    background-color: #EEE;
    padding: 0.6em;
    margin: 1em;
    width: 40%;
    }
    .breadcrumb li{
        display: inline;
    }
    .breadcrumb li:not(:first-child):before {
        content: " / ";
        }

POSITION 

1. /* Position the <h1> element relative to the browser window. 
50px from the top, and 50px from the right.

<head>
<style>
h1 {
    color: red;
}
</style>
</head>
<body>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
</body>
*/

h1 {
    color: red;
	position: relative;
	top: 50px;
	right: 50px;
}

2. /*Position the <h1> element 20px left, and 30px down, 
relative to its normal position.

<head>
<style>
h1 {
    color: red;
}
</style>
</head>
<body>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
</body>
*/
h1 {
    color: red;
	position: relative;
	bottom: -30px;
	left: -20px;
}

3. /* Position the <img> element behind the text.
<style>
img {
    position: absolute;
    left: 0px;
    top: 0px;
}
</style>
</head>
<body>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
<img src="msalum/CSS-Homework/blob/master/picture.jpg" width="100" height="140">
</body>
*/
img {
    position: absolute;
    left: 0px;
    top: 0px;
	z-index:-1;
}

4. /* Position the element with the "topleft" class 30px from the left, 
and 15px from the top, relative to its container.

<head>
<style>
.container {
    position: relative;
}

.topleft {
    font-size: 18px;
}

img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}
</style>
</head>
<body>
<div class="container">
  <img src="msalum/CSS-Homework/blob/master/picture.jpg" alt="alt_name" width="1000" height="300">
  <div class="topleft">Top Left</div>
</div>
</body>
*/

.topleft {
    font-size: 18px;
    position: absolute;
	top: 15px;
	left: 30px;
}
