DISPLAY 

1. /* Hide the <h1> element. It should still take up the same space as before.
<body>

<h1 class="hideh1">This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p>
</body> 
*/

.hideh1{
	visibility: hidden;
}

2. /* Hide the <h1> element. It should not take up any space.

<h1 class="display-none">This is a Heading</h1>
<p>This is a paragraph.</p>
<p>This is another paragraph.</p> 
*/

.display-none{
	display: none;
}

3. /* Display the list items as inline elements.

<body>
<h1>This is a Heading</h1>
<ul>
<li>Apple</li>
<li>Orange</li>
<li>Pear</li>
</ul>
</body>
*/

li{
	display: inline ;
}

4. /*Display the <strong> elements as block elements.

<body>
<h1>This is a Heading</h1>
<p>This is a <strong>paragraph</strong>, 
with some words more <strong>important</strong> 
than others </p>
<p>This is another paragraph.</p>
</body>
*/

strong{
	display: block ;
}

5. /* Add css styling to the html content to look same as the image below
Home / Courses / ICD007 / CSS2 

<html>
<head>
<style>
</style>
</head>
<body>
<h2>Breadcrumb</h2>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Courses</a></li>
  <li><a href="#">ICD0007</a></li>
  <li>CSS 2</li>
</ul>
</body>
</html>
*/

.breadcrumb {
    background-color: #EEE;
    padding: 0.6em;
    margin: 1em;
    width: 40%;
    }
    .breadcrumb li{
        display: inline;
    }
    .breadcrumb li:not(:first-child):before {
        content: " / ";
    }